#colophon {
	position: relative;
	background-color: $color__scout-purple;
	color: $color__text-inverted;
	min-height: 200px;
	padding: $gap;

	a {
		color: $color__text-inverted;
	}

	.site-info {

		@include center-section;
	}
}
