.front-page {
  margin-top: 21rem;

  .main-content {
    margin-top: $gap;
    @include container;
    article {
      @include column-width(12);
      padding: 0 $gap;
    }
    &.has-sidebar {
      @include tablet-plus {
        article {
          @include column-width(8);
        }
        aside, #secondary {
          @include column-width(4);
          background-color: $color__scout-teal;
          padding: $gap;
          color: $color__text-inverted;
        }
      }
    }
    aside {
      background-color: $color__scout-teal;
      padding: 0 $gap;
      color: $color__text-inverted;
      a, a:hover, a:visited {
        color: $color__text-inverted;
      }
    }
  }
}

.banner-sidebar {
  padding-top: 14rem;
  margin: 0 $gap;
  @include desktop {
    margin: 0;
    margin: 7rem $gap 0;
    margin: 0;
    height: 14rem;
    padding-top: 5rem;
  }

  & + .front-page {
    @include desktop {
      margin-top: 7rem;
    }
    margin-top: 1rem;
  }


  .widget {
    padding: $gap;
    background-color: $color__scout-yellow;
    @include center-section;
    @include desktop {
      max-width: 30rem;
    }
  }
  .widget:last-child {
    margin-bottom: 0;
  }
  .widget-title {
    margin-top: 0;
  }
  .textwidget p:last-child {
    margin-bottom: 0;
  }
}


.primary-sidebar {
  @include container;
  margin-top: $gap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-between;
  .widget {
    @include column-width(12);
    padding: 0 $gap;
    @include tablet {
      padding: 0;
      @include column-width(6);
    }
    @include desktop {
      padding: 0;
      @include column-width(4);
    }
  }
  .twitter-timeline {
    max-height: 600px;
  }
}
