.site-branding {
  display: inline-block;
  width: auto;
  position: absolute;
  top: 60px;
  left: 40px;
  &__logo {
    background-image: $url__org-logo;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    width: 261px;
    height: 74px;
  }
  &__title {
    color: $color__text-inverted;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    &:visited {
      color: $color__text-inverted;
    }
  }
  &__description {
    color: $color__text-inverted;
  }
  &--mobile {
    display: none;
    margin: $gap / 4;
    max-width: 200px;
    .site-branding__logo {
      background-image: $url__fleur-de-lis;
      background-size: contain;
      width: 40px;
      height: 40px;
      float: left;
    }
    .site-branding__title {
      font-size: medium;
      margin-left: 50px;
      line-height: 1.3em;
    }
  }
}

.site-sub-header {
  // margin-top: 16rem;
  // &__page-title {
  //   padding: 0 $gap;
  //   margin: 0;
  //   @include center-section;
  // }
}

.body__background-image {
  // position: absolute;
  // top: 0;
  width: 100%;
  height: 260px;
  &--front {
    height: 390px;
  }
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
}