.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page {
	&__header {
		background-color: $color__background-title;
		color: $color__text-inverted;
	}

	&__header-wrapper {
		@include center-section;
		padding: $gap;
	}

	&__content {
		// background-color: lawngreen;
		@include center-section;
		article {
			// background-color: mediumaquamarine;
			padding: $gap;
		}
	}

	&__aside {
		// background-color: lightcoral;
		// background-color: $color__background-title;
		section {
			background-color: $color__scout-purple;
			color: $color__text-inverted;
			a {
				color: $color__text-inverted;
			}

			padding: $gap;
		}
	}

	&__content--has-aside {
		@include container;
		// .share-links {
		// 	@include column-width(12);
		// 	padding: $gap 0;
		// }
		article {
			@include column-width(12);
		}
		aside {
			@include column-width(12);
			padding: $gap 0;
		}
		@include tablet-plus {
			// .share-links {
			// 	@include column-width(2);
			// }
			article {
				@include column-width(8);
			}
			aside {
				@include column-width(4);
			}
		}
	}

	&__sidebar {
		background-color: $color__background-title;
	  #secondary {
			@include center-section;
			@include container;
			padding: $gap;
			section {
				padding: $gap;
				background-color: $color__background-body;
				@include column-width(12);
				@include tablet-plus {
					width: auto;
					max-width: 50%;
					// @include column-width(4);
				}
			}
		}
	}
}

#masthead {
	min-height: 22px;
}