.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	// margin: 1.5em 0 0;
	margin: 0;
	p:first-child {
		margin-top: 0;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page, .post {
	&__header {
		background-color: $color__background-title;
		background-color: $color__scout-purple;
		color: $color__text-inverted;
	}

	.entry-header {
		display: none;
		text-align: right;
		font-size: small;
		.byline {
			display: none;
		}
	}
	.entry-footer {
		span {
			margin-right: 2em;
			font-size: small;
		}
	}

	&__title {
		margin: 0;
	}

	&__header-wrapper {
		@include center-section;
		padding: $gap;
		z-index: 2;
	}

	&__content {
		@include center-section;
		article {
			padding: $gap;
		}
	}

	&__aside {
		section {
			background-color: $color__scout-teal;
			color: $color__text-inverted;
			a {
				color: $color__text-inverted;
			}

			padding: $gap;
			margin-bottom: $gap;
			h2 {
				margin-top: 0;
				font-size: large;
			}
		}
	}

	&__content--has-aside {
		@include container;
		article {
			@include column-width(12);
		}
		aside {
			@include column-width(12);
			padding: $gap 0;
		}
		@include tablet-plus {
			article {
				@include column-width(8);
			}
			aside {
				@include column-width(4);
			}
		}
	}

	&__sidebar {
		background-color: $color__background-title;

	}

	&__hero {
		position: absolute;
		top: 0;
		z-index: 1;
		width: 100%;
		img {
			width: 100%;
		}
	}

	#secondary {
		@include center-section;
		@include container;
		padding: $gap;
		section {
			padding: $gap;
			background-color: $color__background-body;
			@include column-width(12);
			@include tablet-plus {
				@include column-width(6);
			}
		}
	}
}

#masthead {
	min-height: 22px;
}

body {
	&.section-beavers {
		.site-branding__logo {
			background-image: $url__beavers-logo;
		}
		.main-navigation.scrolled {
			background-color: $color__beavers;
		}
		.page, .post {
			&__header, &__sidebar {
				background-color: $color__beavers;
			}
			&__aside {
				section {
					background-color: $color__beavers;
				}
			}
		}
	}
	&.section-cubs {
		.site-branding__logo {
			background-image: $url__cubs-logo;
		}
		.main-navigation.scrolled {
			background-color: $color__cubs;
		}
		.page, .post {
			&__header, &__sidebar {
				background-color: $color__cubs;
			}
			&__aside {
				section {
					background-color: $color__cubs;
				}
			}
		}
	}
	&.section-scouts {
		.site-branding__logo {
			background-image: $url__scouts-logo;
		}
		.main-navigation.scrolled {
			background-color: $color__scouts;
		}
		.page, .post {
			&__header, &__sidebar {
				background-color: $color__scouts;
			}
			&__aside {
				section {
					background-color: $color__scouts;
				}
			}
		}
	}
	&.section-explorers {
		.site-branding__logo {
			background-image: $url__explorers-logo;
		}
		.main-navigation.scrolled {
			background-color: $color__explorers;
		}
		.page, .post {
      &__header, &__sidebar {
				background-color: $color__explorers;
			}
			&__aside {
				section {
					background-color: $color__explorers;
				}
			}
		}
	}
	&.section-network {
		.site-branding__logo {
			background-image: $url__network-logo;
		}
		.main-navigation.scrolled {
			background-color: $color__network;
		}
		.page, .post {
      &__header, &__sidebar {
				background-color: $color__network;
			}
			&__aside {
				section {
					background-color: $color__network;
				}
			}
		}
	}
}
