// %beavers-background {
// 	background-color: $beavers-colour;
// }

// %cubs-background {
// 	background-color: $cubs-colour;
// }

// %scouts-background {
// 	background-color: $scouts-colour;
// }

// %explorers-background {
// 	background-color: $explorers-colour;
// }

// %network-background {
// 	background-color: $network-colour;
// }

// %volunteer-background {
// 	background-color: $volunteer-colour;
// }

%section-logo {
	background-position-y: 0;
	background-position-x: center;
	background-repeat: no-repeat;
	background-size: contain;
}

$url__beaver-logo: url(logos/beavers-logo.png);
$url__cubs-logo: url(logos/cubs-logo.png);
$url__scouts-logo: url(logos/scouts-logo.png);
$url__explorers-logo: url(logos/explorers-logo.png);
$url__network-logo: url(logos/network-logo.png);
$url__volunteer-logo: url(logos/volunteer-logo.png);

.beavers-logo {

	@extend %section-logo;
	background-image: url(logos/beavers-logo.png);
	background-color: $color__beavers;
}

.cubs-logo {

	@extend %section-logo;
	background-image: url(logos/cubs-logo.png);
	background-color: $color__cubs;
}

.scouts-logo {

	@extend %section-logo;
	background-image: url(logos/scouts-logo.png);
	background-color: $color__scouts;
}

.explorers-logo {

	@extend %section-logo;
	background-image: url(logos/explorers-logo.png);
	background-color: $color__explorers;
}

.network-logo {

	@extend %section-logo;
	background-image: url(logos/network-logo.png);
	background-color: $color__network;
}

.volunteer-logo {

	@extend %section-logo;
	// background-image: url(logos/network-logo.png);
	background-color: $color__volunteers;

	h2 {
		color: #fff;
		font-size: 22px;
	}
}
