%section-logo {
	background-position-y: center;
	background-position-x: center;
	background-repeat: no-repeat;
	background-size: contain;
	text-indent: -9999px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

$url__beavers-logo: url(images/logos/beavers-logo.png);
$url__cubs-logo: url(images/logos/cubs-logo.png);
$url__scouts-logo: url(images/logos/scouts-logo.png);
$url__explorers-logo: url(images/logos/explorers-logo.png);
$url__network-logo: url(images/logos/network-logo.png);
$url__volunteer-logo: url(images/logos/volunteer-logo.png);
$url__org-logo: url(images/logos/logo-linear-trimmed.png);
$url__org-logo-stacked: url(images/logos/logo-stacked.png);

.beavers-logo {

	@extend %section-logo;
	background-image: url(images/logos/beavers-logo.png);
	background-color: $color__beavers;
}

.cubs-logo {

	@extend %section-logo;
	background-image: url(images/logos/cubs-logo.png);
	background-color: $color__cubs;
}

.scouts-logo {

	@extend %section-logo;
	background-image: url(images/logos/scouts-logo.png);
	background-color: $color__scouts;
}

.explorers-logo {

	@extend %section-logo;
	background-image: url(images/logos/explorers-logo.png);
	background-color: $color__explorers;
}

.network-logo {

	@extend %section-logo;
	background-image: url(images/logos/network-logo.png);
	background-color: $color__network;
}

.volunteers-logo {

	@extend %section-logo;
	// background-image: url(images/logos/network-logo.png);
	background-color: $color__volunteers;
	text-indent: 0;

}
