.main-navigation {
  position: fixed;
  top: 0;
  height: $size__nav;
  // top: 30px;
  @include container;
  z-index: 10;

  @include tablet-plus {
    // background-color: $color__scout-teal;
    background-color: $color__shaded-dark;
  }

  &.scrolled {
    background-color: $color__scout-purple;
    .site-branding--mobile {
      display: block;
    }
  }

  button.menu-toggle {
    background-color: inherit;
    border: none;
    margin-right: 0;
    margin-left: auto;
    max-height: 40px;

    svg rect {
      stroke:$color__text-inverted;
      fill: $color__text-inverted;
    }
  }

	.menu-top-menu-container {
    margin-right: 0;
    margin-left: auto;
    width: 100%;
    @include tablet {
      max-width: 90%;
    }
    @include desktop {
      max-width: 75%;
    }
  }

	.nav-menu {
    margin-left: auto;
    margin-right: 0;
    float: right;
		padding: $gap / 2;
  }

  .menu-item {
    margin-left: 1em;
    a {
      color: $color__text-inverted;
      font-weight: bold;
    }
  }

  &.toggled {
    background-color: $color__scout-teal;
    li {
      text-align: right;
      font-size: x-large;
      padding: 0 $gap $gap / 4;
      width: 100%;
    }
    .site-branding--mobile {
      display: block;
    }
  }

  .site-branding--mobile .site-branding__title {
    @include tablet {
      display: none;
    }
  }
}

body.admin-bar .main-navigation {
  top: 30px;
}