.main-navigation {
  position: fixed;
  top: 30px;
  z-index: 10;
  background-color: $color__shaded-dark;

  &.scrolled {
    background-color: $color__scout-teal;
  }

  button.menu-toggle {
    background-color: inherit;
    border: none;
  }

	.menu-top-menu-container {
    @include center-section;
  }

	.nav-menu {
    margin-left: auto;
    margin-right: 0;
    float: right;
		padding: $gap;
  }

  .menu-item {
    margin-left: 1em;
    a {
      color: $color__text-inverted;
      font-weight: bold;
    }
  }
}