button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-radius: 10px;
	background: $color__button-background;
	color: $color__button-text;
	line-height: 1;
	padding: 0.5em 0.8em 0.5em;
	font-weight: 900;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
