ul,
ol {
	margin: 0;
	padding: 0;
}

ul {
	list-style: inside square;
}

ol {
	list-style: inside decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}
