$color__scout-purple: #7413dc;
$color__scout-green: #23a950; // Cub section colour
$color__scout-blue: #006ddf; // Beaver section colour
$color__scout-navy: #003982; // Explorer section colour
$color__scout-red: #e22e12;
$color__scout-teal: #00a794;
$color__scout-yellow: #ffe627;
$color__scout-pink: #ffb4e5;
$color__scout-dark-green: #004851; // Scout section colour
$color__scout-black: #000; // Network section colour

$color__beavers: $color__scout-blue;
$color__cubs: $color__scout-green;
$color__scouts: $color__scout-dark-green;
$color__explorers: $color__scout-navy;
$color__network: $color__scout-black;
$color__volunteer: $color__scout-purple;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
