.join-boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  &__link {
    text-decoration: none;
    color: $color__text-inverted;
    display: block;
    width: 100%;
    height: 100%;
    &:hover {
      color: $color__scout-yellow;
    }
  }
  &__logo {
    width: 100%;
    height: 2em;
  }
  &__text {
    p:last-child {
      display: none;
    }
  }
  &__item {
    margin: $gap / 2;
    display: inline-block;
    width: 150px;
    height: auto;
    color: $color__text-inverted;
    list-style: none;
    vertical-align: top;
    padding: $gap * 2;
    text-align: center;

    &--beavers {
      background-color: $color__beavers;
    }
    &--cubs {
      background-color: $color__cubs;
    }
    &--scouts {
      background-color: $color__scouts;
    }
    &--explorers {
      background-color: $color__explorers;
    }
    &--network {
      background-color: $color__network;
    }
    &--volunteers {
      background-color: $color__volunteers;
    }
  }
}